@import "tailwindcss";

:root {
  --color-bg: #f3f4f6;
  --color-primary: #2563eb;
  --color-primary-hover: #1e40af;
  --color-danger: #ef4444;
  --color-danger-hover: #b91c1c;
  --color-success: #22c55e;
}

body {
  background-color: var(--color-primary);
  @apply text-gray-800 font-sans;
}
